		<header>
			<img src='{{{uiRootPath}}}/img/logotype.svg' width='32' height='32' alt='Logotype' />
			<nav>
				<ul>
					{{~#each site.components~}}
						{{~#if (eq ./latest/asciidoc/attributes/category "root-pre")~}}
							<li><a href="{{{siteRootPath}}}{{{ ./latest/url }}}">{{ ./latest/asciidoc/attributes/display_name }}</a></li>
						{{~/if~}}
					{{~/each~}}
					<li>
						<a href="javascript:void(0)">Documentation</a>
						<ul>
						{{~#each site.components~}}
							{{~#if (eq ./latest/asciidoc/attributes/category "documentation")~}}
								<li><a href="{{{siteRootPath}}}{{{ ./latest/url }}}">{{ ./latest/asciidoc/attributes/display_name }}</a></li>
							{{~/if~}}
						{{~/each~}}
						</ul>
					</li>
					<li>
						<a href="javascript:void(0)">Downloads</a>
						<ul>
							<li><a target="_blank" href="https://github.com/nt-rest/nt-rest">Source Code</a></li>
							<li><a target="_blank" href="https://github.com/nt-rest/nt-rest">Latest Release</a></li>
							<li><a target="_blank" href="https://github.com/nt-rest/nt-rest">Release History</a></li>
						</ul>
					</li>
					{{~#each site.components~}}
						{{~#if (eq ./latest/asciidoc/attributes/category "root-post")~}}
							<li><a href="{{{siteRootPath}}}{{{ ./latest/url }}}">{{ ./latest/asciidoc/attributes/display_name }}</a></li>
						{{~/if~}}
					{{~/each~}}
				</ul>
			</nav>
			<form style="float: right" action="https://search.freefind.com/find.html" method="get" accept-charset="utf-8" target="_self">
				<input type="hidden" name="si" value="13820503">
				<input type="hidden" name="pid" value="r">
				<input type="hidden" name="n" value="0">
				<input type="hidden" name="_charset_" value="">
				<input type="hidden" name="bcd" value="&#247;">
				<input type="text" name="query" size="20" placeholder="Powered by FreeFind" > 
				<input type="submit" value="search">
			</form>
		</header>